/* ============= Base ============= */

/*********** Theme Generic **********/

/*
body { 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $theme-text-color-secondary;
    background-color: $theme-bg-light;
    
}

h1, h2, h3, h4, h5, h6 {
	color: $theme-text-color-primary;
	font-weight: bold;
}*/


.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;

  &.pink {
  	color: $theme-pink !important;
  }

}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}


.nav-ribbon {
	height: 4px; 
	width: 100%; 
	border-top: 0px;
	margin-top: -5px;
	background-color: $theme-color;
}

.ribbon {
	width: 100%; 
	background-color: $theme-color;
	height: 5px;
}

.ribbon-yellow {
  width: 100%; 
  background-color: $theme-yellow;
  height: 5px;


}


/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }


/*
 * Text / Background Colors
 */

.bg-theme-light {
	background-color: $theme-color-light;
}

.bg-theme {
	background-color: $theme-color;
}

.text-theme {
	color: $theme-color;
}


/*
 * Custom Buttons
 */


.btn-outline-theme {
	color: $theme-color;
	border-color: $theme-color;
}

.btn-outline-theme:hover {
	color: white;
	background-color: $theme-color;
}

.btn-theme {
	color: white;
	background-color: $theme-color;
	border-color: $theme-color;
}

.btn-theme:hover {
	color: $theme-color;
	border-color: $theme-color;
	background-color: white;
}


/*
 * DOMC payload generation page
 * Copy to clipboard buttons
 */

.copy-btn {
    cursor: pointer;
    background: white;
    float: right;
    margin-top: -5px;
}

.copied {
  opacity: 1;
  position: absolute;
  right: 1px;
  color: gray;
  display: none;
}

/*
 * DOM Clobbering list of markups webpage
 * table colors
 */

.pagination > li > a
{
    background-color: #454d55;
    color: white;
    border: solid 1px #454d55 !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: white;
    background-color: $theme-yellow;
    border: solid 1px rgba(128, 102, 0, 0.249);
}

.pagination > .active > a
{
    color: white;
    background-color: rgba(128, 102, 0, 0.249);
    border: solid 1px rgba(128, 102, 0, 0.249);
}

.pagination > .active > a:hover
{
    background-color: $theme-yellow;
    border: solid 1px rgba(128, 102, 0, 0.249);
}  

.page-list {
  display: inline-block !important;
  margin-left: 10px;
}

.dropdown-toggle {
  background-color:#454d55;
}

.pagination > .page-last-separator > a {
  background-color:#454d55 !important; 
}

.tr-table-header {
  background-color: $theme-dark-brown;
}


.table-yellow-col {
    background: rgba(128, 102, 0, 0.249);
    color: white;
  }

.table-dark-red-col {
  background: rgba(96, 0, 0, 0.249);
  color: white;
}

.table-blue-col {
  background: rgba(41, 82, 247, 0.249);
  color: white;
}

.table-red-col {
  background: rgba(255, 41, 41, 0.249);
  color: white;
}

